<div class="page-header">
  <%= link_to maps_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_map_path(@map), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing maps</h1>
</div>

<dl>
  <dt>Buses:</dt>
  <dd><%= @map.Buses %></dd>

</dl>
