<div class="page-header">
  <h1>Listing Route Waypooints for <%= @route_points[0].route.routeid %></h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Seqnum</th>
      <th>Lat</th>
      <th>Lon</th>
    </tr>
  </thead>

  <tbody>
<% @route_points.each do |route_point| %>
    <tr>
      <td><%= route_point.seqnum %></td>
      <td><%= route_point.lat %></td>
      <td><%= route_point.lon %></td>
    </tr>
<% end %>
  </tbody>
</table>
