<div class="page-header">
  <h1>Listing Route Waypoint</h1>
</div>

<dl>
  <dt>Seqnum:</dt>
  <dd><%= @route_point.seqnum %></dd>

  <dt>Lat:</dt>
  <dd><%= @route_point.lat %></dd>

  <dt>Lon:</dt>
  <dd><%= @route_point.lon %></dd>

  <dt>Route:</dt>
  <dd><%= @route_point.route %></dd>

</dl>
